doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='//code.jquery.com/jquery-1.10.2.min.js')
		script(src='/js/bootstrap.min.js')
			body
		div#nav-top.navbar.navbar-default.navbar-fixed-top(role='navigation')
			div.container
				div.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only='Toggle navigation'
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a#logo.navbar-brand(href='/')
						div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/')='Home'
	block content